<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <title>Document</title>
  <script src="./lib/vue-2.4.0.js"></script>
</head>
<body>

  <div id="app">
    <input type="text" v-model="number1">

    <select v-model="opt">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="÷">÷</option>
    </select>

    <input type="text" v-model="number2">

    <button @click="countSum">=</button>

    <input type="text" v-model="sumNumber">

  </div>

  <script>
    var vue = new Vue({
      el: '#app',   
      data: {       
        number1: 0,
        number2: 0,
        sumNumber: 0,
        opt: '+'
      },
      methods: {
        countSum(){
            switch (this.opt) {
                case '+':
                    this.sumNumber = parseInt(this.number1) + parseInt(this.number2)
                    break;
                case '-':
                    this.sumNumber = parseInt(this.number1) - parseInt(this.number2)
                    break;
                case '*':
                    this.sumNumber = parseInt(this.number1) * parseInt(this.number2)
                    break;
                case '÷':
                    this.sumNumber = parseInt(this.number1) / parseInt(this.number2)
                    break;
                default:
                    break;
            }
        }
      }
    })
  </script>
  
</body>
</html>